@model zv01.Models.Evento
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <div>
            @*Imagen a cambiar*@
            <img class="img-responsive" src="~/images/Create/portada.jpg" />
        </div>
        <form method="post" enctype="multipart/form-data" asp-controller="EventImgs" asp-action="Post">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <h4>&nbsp;</h4>
            <div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Upload" />

                    </div>
                </div>
            </div>
        </form>
        <h4>&nbsp;</h4>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" rows="7" cols="40"></textarea>
            @*<input asp-for="Description" class="form-control" />*@
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-4">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" id="date" class="form-control" type="date" />
                <input name="time" class="form-control" type="time" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <label asp-for="EventDate" class="control-label"></label>
                    <input asp-for="EventDate" id="date" class="form-control" type="date"/>
                    <input asp-for="EventDate" id="time" class="form-control" type="time" />
                    <span asp-validation-for="EventDate" class="text-danger"></span>
                </div>*@
            
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AforoActual" class="control-label"></label>
                <input asp-for="AforoActual" class="form-control" />
                <span asp-validation-for="AforoActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AforoTotal" class="control-label"></label>
                <input asp-for="AforoTotal" class="form-control" />
                <span asp-validation-for="AforoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visitas" class="control-label"></label>
                <input asp-for="Visitas" class="form-control" />
                <span asp-validation-for="Visitas" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>*@


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
