@model zv01.Models.Evento
@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Admin Panel</h2>

<hr />
<p>Bienvenido al menú de Administrador ;)</p>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



