@model zv01.Models.QRImg

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //gr

    string hola = "Hola Itziar , Funciona";
}
<link rel="stylesheet" type="text/css" href="~/css/QR.css">

<img src='http://chart.apis.google.com/chart?cht=qr&chl=@hola&chs=150' alt='qr' />");

    @*<div id="form-wrapper" style="width:46%; float:left; border:5px solid rgba(255,255,255,0.6); margin-top:20px; padding:10px">
        <form id="generator">
           
            <input type="text"  id="codeData" name="codeData" size="50" placeholder="Enter a url or text" style="margin-top:20px" autocomplete="off"/ >
            <br>
            <button id="generate">generate</button>
        </form>
        <div id="alert" style="height:20px; text-align:center; margin:10px auto"></div>
    </div>*@


        <div id="image" style="margin:auto"></div>
        <div id="link" style="margin-top:10px; text-align:center"></div>


