@model zv01.Models.QRImg

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script type="text/javascript" src="~/js/llqrcode.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="~/js/webqr.js"></script>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24451557-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>


<div id="main">

    <div id="mainbody">
        <table class="tsel" border="0" width="100">
            <tr>
                <td valign="top" align="center" width="50%">
                    <table class="tsel" border="0">

                        <tr>
                            <td colspan="2" align="center">
                                <div id="outdiv">
                                    <video id="v" autoplay=""></video>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="3" align="center">
                    <div id="result"></div>
                </td>
            </tr>
        </table>
        <canvas id="qr-canvas" width="100" height="100"></canvas>


    </div>

</div>
<script type="text/javascript">load();</script>


