@model zv01.Models.QRImg

@{
    ViewData["Title"] = "ErrorQREvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>La entrada no es para este evento</h2>

<div>

    <h2>
        <a asp-controller="QRImgs" asp-action="Details">Back to QR Reader</a>
    </h2>
</div>

