@model zv01.Models.QRImg

@{
    ViewData["Title"] = "ErrorQRAsist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error de Asistencia</h2>

<h3>Esta entrada ya ha sido utilizada.</h3>

<h2>
    <a asp-controller="QRImgs" asp-action="Details">Back to QR Reader</a>
</h2>

